# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata

# Derived and build directories
DerivedData/
build/

# Swift Package Manager
.build/

# Misc
*.moved-aside
*.xcscmblueprint
*.xccheckout
